@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/HotelFrontPage.cshtml";
}

<aside>
    <div class="dish-category">
        <div class="title">栏目导航</div>
        <div class="item-content">
            <ul>
                <li>
                    <a href="#">公司新闻</a>
                </li>
                <li>
                    <a href="#">行业动态</a>
                </li>
                <li>
                    <a href="#">促销信息</a>
                </li>
            </ul>
        </div>
    </div>
</aside>

<section>
    <div class="title">您现在位置：中式餐饮酒店 > 公司简介</div>
    <div class="intro-content">

    </div>
</section>