@{
    ViewBag.Title = "新闻动态";
    Layout = "~/Views/Shared/HotelFrontPage.cshtml";
}

@section companynews{
<div class="company-news">
    <div class="title">栏目导航</div>
    <div class="item-content">
        <ul>
            <li>
                <a href="#">公司新闻</a>
            </li>
            <li>
                <a href="#">行业动态</a>
            </li>
            <li>
                <a href="#">促销信息</a>
            </li>
        </ul>
    </div>
</div>
}

@section righttitle{
    您现在位置：中式餐饮酒店 > 新闻动态
}

<div class="intro-content">

</div>
