@model Models.Dish

@{
    ViewBag.Title = "添加菜品";
    Layout = "~/Areas/HotelAdmin/Views/Shared/AdminLayout.cshtml";
}


<div class="add-dishes">
    <form>
        <div>
            <span>菜品名称：<input type="text" class="dish-input" /></span>
            <span>价格：<input type="text" class="dish-input" /></span>
            <span>
                菜品分类：<select>
                    <option></option>
                </select>
            </span>
        </div>
        <div>
            <span>
                菜品图片：<br />
                <img />
                @*                @using (Html.BeginForm("UploadFile", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
                @*                {*@
                @*                    <input class="form-control" type="file" name="file" />*@
                @*                    <input class="btn btn-primary" type="submit" name="upload" value="Submit" />*@
                @*                }*@
            </span>
        </div>
        <div>
            <input class="submit" type="submit" value="新增菜品" />
        </div>
    </form>
</div>
