<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Styles/js/jquery-3.1.1.min.js"></script>
    <link href="~/Styles/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/css/AdminContentPage.css" rel="stylesheet" />
    <link href="~/Styles/css/SysAdminPage.css" rel="stylesheet" />
    <script src="~/Styles/js/bootstrap.js"></script>
    <title>@ViewBag.Title</title>

</head>
<body>
    <header>
        <div class="logo">
            <img src="~/Images/topbg.png" width="1000" height="92" />
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/HotelAdmin/SysAdmin/AdminMain">首页</a> |
                        <a class="nav-link" href="/HotelAdmin/SysAdmin/AddDish">添加菜品</a> |
                        <a class="nav-link" href="/CompanyInfo/Environment">菜品管理</a> |
                        <a class="nav-link" href="/News/Index">发布新闻</a> |
                        <a class="nav-link" href="/Dish/Index">新闻管理</a> |
                        <a class="nav-link" href="/BookOnline/Index">预订管理</a> |
                        <a class="nav-link" href="/Suggestion/Index">投诉管理</a> |
                        <a class="nav-link" href="/Recruitment/Index">发布招聘</a> |
                        <a class="nav-link" href="/Recruitment/Index">招聘管理</a> |
                        <a class="nav-link" href="/HotelAdmin/SysAdmin/ExitSystem">退出系统</a> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <section>
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="bottom-text">
            <div class="copyright">
                <span><a href="/CompanyInfo/Index">[网站首页]</a></span>
                <span>版权所有 Copyright(C)2010-2020好运来酒店</span>
                <span>[当前用户: @Session["currentAdmin"]]</span>
            </div>
        </div>
    </footer>

</body>
</html>