@{
    ViewBag.Title = "美食展示";
    Layout = "~/Views/Shared/HotelFrontPage.cshtml";
}

@section dishcategory{
<div class="dish-category">
    <div class="title">菜品分类</div>
    <div class="item-content">
        <ul>
            <li>
                <a href="#">招牌菜品</a>
            </li>
            <li>
                <a href="#">特色菜品</a>
            </li>
            <li>
                <a href="#">最新菜品</a>
            </li>
        </ul>
    </div>
</div>
}

@section righttitle{
    您现在位置：中式餐饮酒店 > 美食展示
}

<div class="intro-content">

</div>