body {
}

.welcome {
    width: 1000px;
    height: 400px;
    font-size: 70px;
    text-align: center;
    padding-top: 100px;
}

.add-dishes {
    width: 1000px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.add-dishes input{
    height: 15px;
}

div.dish-item {
    margin-bottom: 10px;
}